<meta name="author" content="Pedram Rezaei">
<meta name="description" property="og:description" content="Poem is the future of cloud-native application development that removes the burden of designing applications using microservices.">
<meta property="og:image" content="/assets/images/social-media-thumbnail-520x260.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">